<div class="app" (click)="onNoteDeselect()">
  <prl-header
    [numberOfNotes]="notes.length"
    [noteColors]="noteColors"
    [isColorSelectorEnabled]="isNoteSelected"
    (handleAddNote)="onAddNote()"
    (handleRemoveAllNotes)="onRemoveAllNotes()"
    (handleSelectNoteColor)="onSelectNoteColor($event)"
  ></prl-header>

  <section class="app__content">
    <ng-container *ngIf="hasNotes">
      <prl-note
        *ngFor="let noteEntry of notes; trackBy: trackByNoteId"
        [note]="noteEntry[1]"
        (handleRemoveNote)="onRemoveNote(noteEntry[0])"
        (click)="onNoteSelect($event, noteEntry[0])"
      ></prl-note>
    </ng-container>
  </section>
</div>
