@import '../../../styles/mixins';

:host {
  display: block;
}

.button {
  @include v-center;

  border: 0;
  background: none;
  outline: none;
  padding: 0;
  cursor: pointer;

  &__content {
    margin-right: 0.25rem;
    display: flex;
  }
}
